@model IssueVM

<div class="border p-4 mt-4 rounded shadow-sm bg-light">
    <div class="row pb-3 text-center">
        <h2 class="text-primary">
            Общая выручка:@Model.TotalCost
        </h2>
    </div>


    <div class="row pb-2">
        @foreach (var advertisement in Model.Issue.Advertisements)
        {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">@advertisement.Type</h3>
                        <p class="card-text text-muted">@advertisement.Text</p>
                        <p class="text-end fw-bold">Цена: @advertisement.Cost.ToString("C")</p>
                    </div>
                </div>
            </div>
        }
    </div>

    @if(Model.NetProfit != 0)
    {
        <div class="row pb-3 mt-2">
            <h4 class="text-dark fw-bold ">Чистая прибыль: @Model.NetProfit  <i class="bi bi-wallet2"></i></h4>
            <hr />
        </div>
    }
    <a asp-controller="Issue" asp-action="Index" class="btn btn-secondary border border-dark w-25">
        <i class="bi bi-arrow-left"></i> Назад
    </a>
</div>