@model Article

<form method="post">
    <input asp-for="ArticleId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Удалить статью</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Title" class="p-0">Заголовок</label>
            <input asp-for="Title" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Text" class="p-0">Текст статьи</label>
            <textarea asp-for="Text" disabled class="form-control" rows="5"></textarea>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="PublicationDate" class="p-0">Дата публикации</label>
            <input asp-for="PublicationDate" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label>Номер выпуска</label>
            <input value="@Model.Issue.IssueId" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label>Категория</label>
            <input value="@Model.Category.Name" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label>Автор</label>
            <input value="@Model.Author.Name" disabled type="text" class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="AuthorComment" class="p-0">Мнение автора</label>
            <input asp-for="AuthorComment" disabled type="text" class="form-control" />
        </div>

        <div class="row">
            <div class="col-3">
                <button type="submit" class="btn btn-danger form-control">Удалить</button>
            </div>
            <div class="col-3">
                <a asp-controller="Article" asp-action="Index" class="btn btn-outline-secondary form-control">Вернуться назад</a>
            </div>
        </div>
    </div>
</form>

