@model ArticleVM

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Добавить статью</h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Article.Title" class="p-0">Заголовок</label>
            <input asp-for="Article.Title" class="form-control" />
            <span asp-validation-for="Article.Title" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Article.Text" class="p-0">Текст статьи</label>
            <textarea asp-for="Article.Text" class="form-control" rows="6"></textarea>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Article.PublicationDate" class="p-0">Дата публикации</label>
            <input asp-for="Article.PublicationDate" type="date" class="form-control" />
            <span asp-validation-for="Article.PublicationDate" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Article.IssueId" class="p-0">Выпуск</label>
            <select asp-for="Article.IssueId" asp-items="Model.Issues" class="form-control">
                <option disabled selected>-- Выберите выпуск --</option>
            </select>
            <span asp-validation-for="Article.IssueId" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Article.CategoryId" class="p-0">Категория</label>
            <select asp-for="Article.CategoryId" asp-items="Model.Categories" class="form-control">
                <option disabled selected>-- Выберите категорию --</option>
            </select>
            <span asp-validation-for="Article.CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Article.AuthorId" class="p-0">Автор</label>
            <select asp-for="Article.AuthorId" asp-items="Model.Authors" class="form-control">
                <option disabled selected>-- Выберите автора --</option>
            </select>
            <span asp-validation-for="Article.AuthorId" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Article.AuthorComment" class="p-0">Мнение автора</label>
            <input asp-for="Article.AuthorComment" class="form-control" />
            <span asp-validation-for="Article.AuthorComment" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="SelectedTags" class="p-0">Теги</label>
            <select asp-for="SelectedTags" asp-items="Model.Tags" class="form-control" multiple>
            </select>
            <span asp-validation-for="SelectedTags" class="text-danger"></span>
        </div>

        <hr />
        <div class="form-floating mb-4">
            <input type="file" name="imageFile" asp-for="Article.ImageUrl" accept="image/*" class="form-control border-0 shadow w-50" />
            <label asp-for="Article.ImageUrl" class="ms-2">Фотография статьи</label>
        </div>

        <div class="row">
            <div class="col-3">
                <button type="submit" class="btn btn-primary form-control">Добавить</button>
            </div>
            <div class="col-3">
                <a asp-controller="Article" asp-action="Index" class="btn btn-outline-secondary form-control">Вернуться назад</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}