@model Author

<form method="post">
    <input asp-for="AuthorId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Удалить автора</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0">Имя</label>
            <input asp-for="Name" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Surname" class="p-0">Фамилия</label>
            <input asp-for="Surname" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Email" class="p-0">Электронная почта</label>
            <input asp-for="Email" disabled type="email" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Phone" class="p-0">Телефон</label>
            <input asp-for="Phone" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Biography" class="p-0">Биография</label>
            <textarea asp-for="Biography" disabled class="form-control" rows="5"></textarea>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="DateOfBirth" class="p-0">Дата рождения</label>
            <input asp-for="DateOfBirth" disabled type="date" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="WorkExperience" class="p-0">Опыт работы</label>
            <textarea asp-for="WorkExperience" disabled class="form-control" rows="2"></textarea>
        </div>

        <div class="row">
            <div class="col-3">
                <button type="submit" class="btn btn-danger form-control">Удалить</button>
            </div>
            <div class="col-3">
                <a asp-controller="Author" asp-action="Index" class="btn btn-outline-secondary form-control">Вернуться назад</a>
            </div>
        </div>
    </div>
</form>

