@model Author

<form asp-action="Upsert" method="post">
    <input asp-for="AuthorId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@((Model.AuthorId != 0) ? "Обновить автора" : "Добавить автора")</h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0">Имя</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Surname" class="p-0">Фамилия</label>
            <input asp-for="Surname" type="text" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Email" class="p-0">Электронная почта</label>
            <input asp-for="Email" type="email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Phone" class="p-0">Телефон</label>
            <input asp-for="Phone" type="text" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Biography" class="p-0">Биография</label>
            <textarea asp-for="Biography" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Biography" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="DateOfBirth" class="p-0">Дата рождения</label>
            <input asp-for="DateOfBirth" type="date" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="WorkExperience" class="p-0">Опыт работы</label>
            <textarea asp-for="WorkExperience" class="form-control" rows="2"></textarea>
            <span asp-validation-for="WorkExperience" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-3">
                <button type="submit" class="btn btn-primary form-control">
                    @((Model.AuthorId != 0) ? "Обновить" : "Создать")
                </button>
            </div>
            <div class="col-3">
                <a asp-controller="Author" asp-action="Index" class="btn btn-outline-secondary form-control">Вернуться назад</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}